* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body,
html {
      height: 100%;
      width: 100%;
}

body,
h1,
h2 {
      padding: 0;
      margin: 0;
      font-family: HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
      font-weight: 300;
      z-index: 0;
      color: #FFFAFA
}

button {
      padding: 3px 18px;
      font-size: 1.125rem;
}